@import "./common";

footer {
  background-color: $color-secondary;
  color: $color-text;
  padding: 1em;
  text-align: center;

  width: 100%;
  bottom: 0;

  p {
    margin: 0;
    font-size: 0.9em;
  }
}
