@import "./common";

.movie-detail {
  padding: 2em;
  background-color: $color-background;
  color: $color-text;
  position: relative;

  .movie-detail-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  .movie-detail-content {
    display: flex;
    align-items: flex-start;
    gap: 2em;

    @media (max-width: map-get($grid-breakpoints, md)) {
      flex-direction: column;
      align-items: center;
    }

    img {
      max-width: 300px;
      height: auto;
      border-radius: 8px;
    }

    .movie-detail-text {
      flex: 1;

      p {
        margin-bottom: 1em;
      }
    }
  }

  h1 {
    margin-bottom: 0.5em;
    flex-grow: 1;
    text-align: center;
  }
}
